@charset "UTF-8";
@font-face {
  font-family: 'FontOver';
  src: url('big_noodle_titling.ttf') format('truetype');
}

@keyframes plane {
	0% {
		transform: scale(1) translate(0, 0);
		opacity: 1;
	}
	5% {
		transform: scale(1) translate(2px, 0);
		opacity: 1;
	}
	10% {
		transform: scale(1) translate(1px, -2px);
		opacity: 1;
	}
	15% {
		transform: scale(1) translate(3px, -1px);
		opacity: 1;
	}
	20% {
		transform: scale(1) translate(2px, -3px);
		opacity: 1;
	}
	25% {
		transform: scale(1) translate(4px, -2px);
		opacity: 1;
	}
	50% {
		transform: scale(1) translate(15px, -15px);
		opacity: 0;
	}
	51% {
		transform: scale(1) translate(-15px, 15px);
		opacity: 0;
	}
	100% {
		transform: scale(1) translate(0, 0);
		opacity: 1;
	}
}

* {margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'FontOver',sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px ;
  background: rgba(229,235,244,.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo img {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #3D4A56;
  text-decoration: none;
  font-weight: 550;
  margin-left: 50px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #3D4A56;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.container {
  position:relative;
  width:100%;
  height: 100vh;
}

.bg-slide,
.bg-slide .circle,
.bg-slide .circle img{
  position: absolute;
  width:100%;
  height:100%;
}

.bg-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-slide .circle {
  pointer-events: none;
  user-select: none;
  overflow:hidden;
}

.bg-slide.active .circle {
  z-index: 10;

}

.bg-slide .circle.large {
  clip-path: circle(50% at 50% 50%);
}

.bg-slide .circle.small {
  clip-path: circle(30% at 50% 50%);
  z-index: 12;
}

.bg-slide .circle img {
  object-fit:fill;
  transform:rotate(0deg) scale(4);
  opacity: 0;
  transition: transform 1.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.bg-slide.active .circle img {
  transform:rotate(360deg) scale(1);
  opacity: 1;
}

.bg-slide.after-active .circle img {
  transform:rotate(720deg) scale(1);
  opacity: 0;
}

.bg-slide.active .circle.bg img,
.bg-slide.after-active .circle.bg img {
  transition-delay: .9s;
}

.bg-slide.active .circle.large img,
.bg-slide.after-active .circle.large img {
  transition-delay: .6s;
}

.bg-slide.active .circle.small img,
.bg-slide.after-active .circle.small img {
  transition-delay: .3s;
}

.bg-slide .content-text {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-slide.active .content-text {
  z-index: 101;
}

.content-text .place,
.content-text .country{
  overflow: hidden;
}

.content-text .country{
  margin-top: 60px;
}


.content-text .place h1,
.content-text .country h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 1;
  opacity: 0;
  transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 1s;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
} 

.content-text .place h1 {
  font-size: 60px;
  letter-spacing: 50px;
  word-spacing:-20px;
  margin-right: -50px;
  transform: translateY(105%);
}

.content-text .country h2 {
  font-size: 50px;
  letter-spacing: 30px;
  margin-right: -30px;
  transform: translateY(-105%);
}

.bg-slide.active .content-text .place h1,
.bg-slide.active .content-text .country h2 {
  transform: translateY(0%);
  opacity: 1;
}

.bg-slide.after-active .content-text .place h1{
  transform: translateY(-105%);
  opacity: 1;
}

.bg-slide.after-active .content-text .country h2{
  transform: translateY(105%);
  opacity: 1;
}

.line{
  position: absolute;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%);
  width: 500px;
  height: 2px;
  background: #fff;
  z-index: 100;
}

.rotate-btn {
  position: absolute;
  bottom: 60px;
  right: 60px;
  width: 60px;
  height: 60px;
  background: #F06414;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate-btn.active i {
  animation: plane 2s cubic-bezier(0.36, 0.07, 0.57, 0.99);
}

.rotate-btn i {
  font-size: 40px;
  color: #fff;
}
