div.quadrado{
  background-image: url(wallpaper002.jpg);
  border: 2px solid black;
  width: 300px;
  height: 300px;
  display: inline-block;
  background-color: burlywood;
  border-radius: 10px;
}

#q1{
  background-position: left top;
}

#q2{
  background-position: left bottom;
}

#q3{
  background-size:cover;
}